<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <%- include('partials/head'); %>
  </head>
  <body class="bg-light">
 
    <%- include('partials/drawer'); %>

    <!------------------------DRAWER--END-------------------------->

  <div class="container-fluid">
  <div class="row border border-primary text-white">
    <button class="btn btn-sm btn-outline-primary navbar-toggler" type="button" onclick="openSideDrawer()">
    <span class="material-symbols-outlined">menu</span>
    </button>
    <div class="col-3 text-left">
     <p>00:25</p>
    </div>
    <div class="col-6 text-center style=">
      <span class="text-primary" style="vertical-align: middle;" id="lobby_id"><%= id %></span><i onclick="copyToClipboard('#lobby_id')" style='vertical-align: middle; cursor: pointer; font-size:25px;' class="text-primary material-symbols-outlined">content_copy</i>
    </div>
    <div class="col-2 text-right text-primary">
      <span class="spinner-grow spinner-grow-sm"></span><%= username %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-8 mt-4">
      <canvas></canvas>
      <div class="row">
      <div class="col-12">
        
      </div>
      <div class="col-12">
        
      </div>
    </div>
    </div>
    <div class="col-4">
       <!-------------------------CHAT--------------------------------->
     <%- include('partials/chat'); %>
    </div>
  </div>
</div>

<div  class="btn-group-vertical" id="draggable_tool" role="group">
  <span id="draggable_toolheader" class="badge badge-secondary"><i   class="material-symbols-outlined">drag_handle</i></span>
  <button class="btn btn-outline-primary clear-canvas"><i class="material-symbols-outlined">delete</i></button>
  <button class="btn btn-outline-primary save-img"><i class="material-symbols-outlined">download</i></button>
</div>
    <script src = "/socket.io/socket.io.js"></script>
    <script src="draggable_element.js"></script>
    <script>
      var uname = "<%- username %>",uid="<%- id %>",lobby = "<%- lobby %>";
      dragElement(document.getElementById("draggable_tool"));
    </script>
     
    <script src="script.js"></script>
    <script src="websocket.evt.handler.js"></script>
  </body>
</html>