<!DOCTYPE html>
<!-- @Author Nishant tiwari -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <%- include('partials/head'); %>
  </head>
  <body class="neumorphism">
 
    <%- include('partials/drawer'); %>

    <!------------------------DRAWER--END-------------------------->

  <div class="container-fluid">
  <div class="row rounded m-2 p-2 justify-content-between neumporphism-flat  text-white">
    <div>
      <button class="neumporphism-inset btn btn-sm navbar-toggler" type="button" onclick="openSideDrawer()">
        <span style="color:#6d5dfc;" class="material-symbols-outlined">menu</span>
      </button>
       
      <span style="color:#9baacf; vertical-align: middle;" class=" text-center  ml-1">
        <span style="vertical-align: middle; color:#6d5dfc;" class="material-symbols-outlined">timer</span>
        <span id="timer">25</span>
      </span>

      <span style="color:#9baacf; vertical-align: middle;" class=" text-center  ml-3">
        <span style="vertical-align: middle; color:#6d5dfc;" class="material-symbols-outlined">poker_chip
        </span>
        4
      </span>
        
        
    </div>
   
    <div class="text-primary ">

      <span class="spinner-grow spinner-grow-sm"></span><%= username %>
      <button class="btn btn-sm" type="button">
        <span class="material-symbols-outlined">person</span>
      </button>

      <button class="neumporphism-inset btn btn-sm" type="button">
        <span class="material-symbols-outlined">settings</span>
        </button>
      <button class="neumporphism-inset btn btn-sm" type="button">
        <span class="material-symbols-outlined">logout</span>
        </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div  class="btn-group-vertical neumorphism p-1" id="draggable_tool" role="group">
      <span id="draggable_toolheader" class="mb-1 neumporphism-inset badge"><i style="color:#6d5dfc;"  class="material-symbols-outlined">drag_handle</i></span>
      <button class="neumporphism-flat btn  clear-canvas"><i class="material-symbols-outlined">delete</i></button>
      <button class="neumporphism-flat btn mt-1 save-img"><i class="material-symbols-outlined">download</i></button>
    </div>
    <div class="col-8">
      <canvas id="drawingCanvas" class="m-2 neumporphism-inset"></canvas>
    </div>
    
    <div class="col-4">
       <!-------------------------CHAT--------------------------------->
     <%- include('partials/chat'); %>
    </div>
  </div>
</div>
    <%- include('partials/lobby_modal'); %>
    <script src = "/socket.io/socket.io.js"></script>
    <script src="/scribble/draggable_element.js"></script>
    <script>
      var uname = "<%- username %>",uid="<%- id %>",lobby = "<%- lobby %>";
      $("#myModal").modal();
      dragElement(document.getElementById("draggable_tool"));
    </script>
     
    <script src="/scribble/script.js"></script>
    <script src="/scribble/websocket.evt.handler.js"></script>
  </body>
</html>